<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Base html </title>
    <meta name="description" content="A Base html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="bootstrap.css" rel="stylesheet" >-->
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--<script src="js/bootstrap.js"></script>-->
    <!--<script src="../include/js/jquery-3.2.0.min.js"></script>-->
    <script src="/static/jquery-3.2.0.min.js"></script>
    <script src="/static/main.js"></script>
    <script>
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        });
    </script>
</head>
<body>
    <input type="text" name="isbn-input" id="isbn-input">
    <span id="isbn-input-message"></span>

    <div id="sent_ajax"> sent </div>
    <p id="ajax_sent_status"></p>

    <div id="display_ajax"> display </div>
    <p id="ajax_result"></p>

</body>
</html>
